html,body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav {
    background-color: black;
    color:white;
    border: solid white;
}
a {
  text-decoration: none;
  color:white;
}

.frontSlider {
    background: url(../images/pic1.jpeg) no-repeat;
    width: 100vw;
    height: 92vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1 {
    font-size: 100px;
}