/* applies to most pages */
html,body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav {
    background-color: black;
    color:white;
    border: solid white;
}
.stickyNav {
    position: sticky;
    top:0;
}
a {
  /* text-decoration: none; */
  color:white;
}
h1 {
    text-align: center;
    font-size: 100px;
    display: flex;
    width: 100vw;  
    align-items: center;
    justify-content: center;
    padding-bottom: none;
}
h2 {
    
    text-align: center;
    font-size: 75px;
    display: flex;
    width: 100vw;  
    align-items: center;
    justify-content: center;
    /* padding: none;
    margin: none; */
}
h5 {
    display: flex;
    width: 90vw;
    flex-direction: column;
} 
footer {
    height: 5vh;
    border: white solid;
    width: 99vw;
    display: flex;
    justify-content: center;
    /* padding: none;
    margin: none; */

}
/* page 1 */
iframe {
    width:100vw; 
    height: 90vh;
    border: 0; 
}

/* second Page */

.aboutText{
    display: flex;
    width: 100vw;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-top: none;
    padding-bottom: none; */
}
.holdKeyframe{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;

}

.animComet {
   
    height: 50vh;
    width: 100vw;
    animation: cometAnim 4s ease-in infinite;
}


@keyframes cometAnim {
  0%{ 
  
      top: 90%;
      left: 0%;
  }
  48%{
    background: url("../images/comet.png") no-repeat;
      top: 15%;
      left: 40%;
  }
  50%{
      top: 10%;
      left: 42%;
  }
  52%{
      top: 15%;
      left: 43%;
  }
  100%{
    background: url("../images/comet.png") no-repeat right;
      top: 90%;
      left: 80%;
  }

}

/* page 3 */

.frontSlider {
    background: url(../images/pic1.jpeg) no-repeat center;
    width: 100vw;
    height: 92vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.headerSlideShow {
    
    width: 100vw;
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
   
}
img {
    width: 100vw;
    height: 60vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.bttnSpace {
    display: flex;
    justify-content: space-around;
}
button {
    background-color: black;
    color: white;
    border: none;
}

/*Page 4*/

.mainHeadline{
    color:white;
}

.secondHeadline{
    color:white;
    font-size: 20px;
    text-align: center;
}



.cards:hover{

    background:#16a085;
}



  .card-container{
    display:flex;
    padding:0;
    margin:0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  .cards{
      text-align: center;
      margin:10px;
      font-size: 25px;
      color:white;
      width:200px;
      height:200px;
      border: 2px solid white;
      border-radius:5px;
  }
